In [1]:
print(
    "Hello iNeurons"
)

Hello iNeurons

In [2]:
print("Hello Chinni")

Hello Chinni

In [3]:
print("Vinay Kumar T K = Sangeetha V ")

Vinay Kumar T K = Sangeetha V

In [5]:
print('Greetings fom iNeuron')
print("Good evening")

Greetings fom iNeuron
Good evening

In [6]:
Print("Good evening")

NameError: name 'Print' is not defined

In [8]:
print"Good evening"

SyntaxError: invalid syntax (352313709.py, line 1)

In [9]:
print("Good 
evening")

SyntaxError: EOL while scanning string literal (3742512395.py, line 1)

In [10]:
"Good Morning"
print("Hi")

Hi

In [12]:
print("""Good
 evening""")

Good
 evening

In [13]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.""")

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

In [14]:
print("""Good 
Evening
From
India""")

Good
Evening
From
India

In [15]:
#say hello to the students
print("Hi Students")

Hi Students

In [16]:
#say hello to the students
#print("Hi Students")

Header

Multiline Comments

In [19]:
"""Say Hi
To the students
"""
print('Hi Students')

Hi Students

In [22]:
# Say Hi
#To the students
print('Hi Students')

Hi Students

In [21]:
# more exceptional cases in print cases

In [24]:
print('Hi my name is "Vinay"')

Hi my name is "Vinay"

In [25]:
print("Hi my name is 'Vinay'")

Hi my name is 'Vinay'

In [27]:
print("""Hi my name is 'Vinay'""")

Hi my name is 'Vinay'

In [29]:
print('''Hi my name is "Vinay!"''')

Hi my name is "Vinay!"

In [30]:
print('Hi my name is \"Vinay\"')

Hi my name is "Vinay"

# Example

In [31]:
123+245#sum of 2 nos

368

In [32]:
123*245

30135

In [33]:
12233/154564

0.07914520845733806

In [43]:
(-15)**2 #power of 15 raised to 2

225

In [38]:
123%2 #modulo operator which gives you reminder

1

In [39]:
122%2

0

In [44]:
15*245
print("Result")

Result

In [46]:
print(15*245)
print("Result")

3675
Result

In [48]:
print("15*245")
print("Result")

15*245
Result

In [49]:
print(15*245)
print("Result")

3675
Result

In [51]:
2**3

8

In [52]:
2%2

0

In [53]:
3%2

1

# Variables in Python
## Variables in Python
### Variables in Python
#### Variables in Python
##### Variables in Python
###### Variables in Python
<h1>Variables in Python</h1>

In [1]:
x=10

In [2]:
print(x)

10

In [3]:
y=20

In [4]:
print(y)

20

In [5]:
print(x+y)

30

In [7]:
print(x*y)

200

In [8]:
print(x/y)

0.5

In [9]:
print(y/x)

2.0

# Important numbers

# 1. Variable name should start with alphabates

In [24]:
ten=10
ten_number=10
tenNumber=10

# 2. variable names should not contain any special characters like ^ % $ @ # & * ( )

In [17]:
ten* = 10

SyntaxError: invalid syntax (2667552044.py, line 1)

In [28]:
ten% =10

SyntaxError: invalid syntax (1696278906.py, line 1)

In [42]:
ten=10
ten_number=10
ten%number=10
tenNumber=10

SyntaxError: cannot assign to operator (3935745263.py, line 3)

In [41]:
ten/number=10

SyntaxError: cannot assign to operator (685416596.py, line 1)

In [25]:
ten%number=10

SyntaxError: cannot assign to operator (3250670603.py, line 1)

# 3. Variable names can contain number but you cant start with the numbers

In [29]:
ten10=10

In [30]:
10ten=10

SyntaxError: invalid syntax (2851132279.py, line 1)

In [32]:
_num=10 #hidden variables

In [45]:
_=10#dummy Variable

# 4. Also not strict rule that you should variable names with a Capital Letter. But its recomended to use small letters for the variables

In [34]:
Ten = 10

In [38]:
ten number=10

SyntaxError: invalid syntax (2336307459.py, line 1)

In [36]:
ten_number=10

# Fundamental Data Types

# integers

In [47]:
a=7

In [48]:
b=77

In [49]:
type(a & b)

int

# float numbers

In [50]:
v=2.0

In [51]:
type(v)

float

In [52]:
pi=3.141

In [53]:
type(pi)

float

In [54]:
pi

3.141

In [55]:
pi=22/7
pi

3.142857142857143

# complex numbers

In [57]:
y=2+3j

In [59]:
type(y)

complex

In [63]:
j=3

In [61]:
y

(2+3j)

In [64]:
y.imag

3.0

In [79]:
y.real

2.0

# Dynamic Typing

In [73]:
a=22
print(type(a))
a=22.2
print(type(a))

<class 'int'>
<class 'float'>

In [74]:
a=22
print(type(a))
a=22.2
print(type(a))

<class 'int'>
<class 'float'>

In [71]:
a=22
print(type(a))
a=22.2
print(type(a))
a="Vinay"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [72]:
print(a)

Vinay

In [75]:
a=22
print(type(a))
a=22.2
print(type(a))
a="Sangeetha"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [76]:
print(a)

Sangeetha

# Strong typing

In [80]:
"Day"+"1"

'Day1'

In [81]:
"Day"+1

TypeError: can only concatenate str (not "int") to str

In [84]:
"22"+"22"

'2222'

In [85]:
"22+22"

'22+22'

In [86]:
22+22

44

In [87]:
'22'+"22"

'2222'

In [88]:
'22'+22

TypeError: can only concatenate str (not "int") to str

In [90]:
25.2+1

26.2

In [83]:
"Vinay"+"Sangeetha"

'VinaySangeetha'

In [91]:
a=1 #Integer
b=1.2 #Float
c="Vinu" #string data
d=1+2j #complex data

In [92]:
print("Hai welcome to class of python language")

Hai welcome to class of python language

In [93]:
print("Hai welcome to class of Java language")

Hai welcome to class of Java language

In [95]:
language="python"
print("Hai welcome to class of"+ language +"language")

Hai welcome to class ofpythonlanguage

In [96]:
language=" Java Script "
print("Hai welcome to class of"+ language +"language")

Hai welcome to class of Java Script language

In [99]:
language=" python "
print(f"Hai welcome to class of{language}language")#current standard approch used

Hai welcome to class of python language

In [100]:
language=" python "
print("Hai welcome to class of{language}language")

Hai welcome to class of{language}language

In [110]:
language=" python "
print("Hai welcome to class of {} langauge".format(language))

Hai welcome to class of  python  langauge

In [106]:
language=" python "
print(f"Hai welcome to class of [language] language")

Hai welcome to class of [language] language

In [112]:
num=" first "
language=" python "
print(f"Today is the{num} class of{language}language")

Today is the first  class of python language

In [114]:
num=" first "
language=" python "
print("Today is the{} class of{}language".format(num, language))

Today is the first  class of python language

In [115]:
a=22
b=34
c=a+b
print(f"the result sum of two nums a:{a} and b:{b} is c={c}")

the result sum of two nums a:22 and b:34 is c=56

# Boolean

In [116]:
one=True
two=False
print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [126]:
class_starts_at=3
you_came_at=2
you_understood_all_concepts=you_came_at < class_starts_at
print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: True

In [127]:
class_starts_at=1500
you_came_at=1600
you_understood_all_concepts=you_came_at < class_starts_at
print(f"You understood everything?: {you_understood_all_concepts}")

You understood everything?: False